.image .person {
  width: 100px;
  height: 120px;
  margin-left: 100px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0px;
}

.image .idle {
  background-image: url('./images/idle.png');
}

.image .walk {
  background-image: url('./images/walk.png');
}

.image .run {
  background-image: url('./images/run.png');
}

.image .jump {
  background-image: url('./images/jump.png');
}